@font-face {
    font-family: 'CFSpaceship';
    src: url("../fonts/CFSpaceship-Regular/CFSpaceship-Regular.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/CFSpaceship-Regular/CFSpaceship-Regular?#iefix") format("embedded-opentype"), 
         url("../fonts/CFSpaceship-Regular/CFSpaceship-Regular.ttf") format("truetype"), 
         url("../fonts/CFSpaceship-Regular/CFSpaceship-Regular.woff") format("woff"), 
         url("../fonts/CFSpaceship-Regular/CFSpaceship-Regular.svg") format("svg");
    font-style: normal;
    font-weight: normal; 
}

@font-face {
    font-family: 'mosk-semi-bold-600';
    src: url("../fonts/mosk-semi-bold-600/mosk-semi-bold-600.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/mosk-semi-bold-600/mosk-semi-bold-600?#iefix") format("embedded-opentype"), 
         url("../fonts/mosk-semi-bold-600/mosk-semi-bold-600.ttf") format("truetype"), 
         url("../fonts/mosk-semi-bold-600/mosk-semi-bold-600.woff") format("woff"), 
         url("../fonts/mosk-semi-bold-600/mosk-semi-bold-600.svg") format("svg");
    font-style: normal;
    font-weight: normal; 
}

body {    
    background-color: #000;
    color: #fff;
   
}

.container{
    max-width: 960px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;    
}



/* MENU NAVBAR */

.link-1{
    font-family: 'mosk-semi-bold-600';
    font-size: 16.67px;
    text-decoration: none;
    background: url('../img/btn.png') no-repeat top left;
    background-size: cover;
    width: 263px;
    height: 54px;
    display: block;
    line-height: 55px;
    color: #ffb021;
}

.link-1:hover{
    text-decoration: none;
    background: transparent url('../img/btn1.png') no-repeat top left;
    color: #ffb021;
}

.nav-item a {
    font-family: 'CFSpaceship';
    font-size: 12.5px;
    color: #fff;
    -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-nav > .active > a {
    color: #fff;    
}

.nav-item > a:hover {
    color: #00aced;
    /* -webkit-animation: neon2 1.5s ease-in-out infinite alternate */;
    /* -moz-animation: neon2 1.5s ease-in-out infinite alternate */;
    /* animation: neon2 1.5s ease-in-out infinite alternate; */
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("../img/menu.png");
}


.btn-link-1{
    background-image: url("../img/start1.png");
    background-repeat: no-repeat;    
    background-position: right top;     
}

.btn-link-2{
    background-image: url("../img/start3.png");
    background-repeat: no-repeat;    
    background-position: right top;     
}

.btn-link-3{
    background-image: url("../img/start2.png");
    background-repeat: no-repeat;    
    background-position: right top;     
}

.logo2{
    position: relative;
    
}

.rotar1  
{  
    -webkit-transform: rotate(-10deg);  
    -moz-transform: rotate(-10deg);  
    -ms-transform: rotate(-10deg);  
    -o-transform: rotate(-10deg);  
    transform: rotate(-10deg);  
    
    -webkit-transform-origin: 50% 50%;  
    -moz-transform-origin: 50% 50%;  
    -ms-transform-origin: 50% 50%;  
    -o-transform-origin: 50% 50%;  
    transform-origin: 50% 50%;
} 

.rotar2  
{  
    -webkit-transform: rotate(10deg);  
    -moz-transform: rotate(10deg);  
    -ms-transform: rotate(10deg);  
    -o-transform: rotate(10deg);  
    transform: rotate(10deg);  
    
    -webkit-transform-origin: 50% 50%;  
    -moz-transform-origin: 50% 50%;  
    -ms-transform-origin: 50% 50%;  
    -o-transform-origin: 50% 50%;  
    transform-origin: 50% 50%;
} 

.rotar3  
{  
    -webkit-transform: rotate(5deg);  
    -moz-transform: rotate(5deg);  
    -ms-transform: rotate(5deg);  
    -o-transform: rotate(5deg);  
    transform: rotate(5deg);  
    
    -webkit-transform-origin: 50% 50%;  
    -moz-transform-origin: 50% 50%;  
    -ms-transform-origin: 50% 50%;  
    -o-transform-origin: 50% 50%;  
    transform-origin: 50% 50%;
} 


#cuadro{
    margin-bottom: 16%;
}

@media only screen and (max-device-width : 768px) { 
    .rotar1, .rotar2,.rotar3{
        transform-origin: none;
        transform: none; 
    }
    .parallax1{
        height: 292px !important;
        
    }
    .parallax2{
        height: 530px !important;
        background-position-x: center !important;
    }
    .fire{       
        width: 40px !important;
        height: 66.667px !important;
        background-image: url('../img/fire2.png') !important;
        animation: playX 0.9999s steps(4) infinite,
        playY 2.9999s steps(3) infinite;
    }
    @keyframes playX {
        from {background-position-x: 0px !important;}
        to {background-position-x: -200px !important;}
    }
    
    @keyframes playY {
        from {background-position-y: 0px !important;}
        to {background-position-y: -200px !important;}
    }

    #der {
        right: 10% !important;
    }
    #izq{
        left: 7% !important;
    }
    #cuadro{
        margin-bottom: 14%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width: 1024px) {    
    .rotar1, .rotar2,.rotar3{
        transform-origin: none;
        transform: none; 
    }
    .parallax1{
        height: 545px !important;
        
    }
    .parallax2{
        height: 1090px !important;
        background-position-x: center !important;
    }
    .fire {    
        width: 150px !important;
        height: 200px !important;
        background-image: url('../img/fire.png') !important;
        animation: playX 1.9999s steps(4) infinite,
                   playY 3.9999s steps(3) infinite !important;
      }
      
@keyframes playX {
    from {background-position-x: 0px !important; }
    to {background-position-x: -600px !important;}
}

@keyframes playY {
    from {background-position-y: 0px !important;}
    to {background-position-y: -600px !important;}
}

    #der {
        right: 3% !important;
    }
    #izq{
        left: 4% !important;
    }
    #cuadro{
        margin-bottom: 11%;
    }
}

/* ANTORCHAs */
.fire {    
    width: 150px;
    height: 150px;
    background-image: url('../img/fire.png');
    animation: playX 0.175s steps(4) infinite,
               playY 1.175s steps(3) infinite;
  }
  
  @keyframes playX {
    from {background-position-x: 0px;}
    to {background-position-x: -600px;}
  }
  
  @keyframes playY {
    from {background-position-y: 0px;}
    to {background-position-y: -600px;}
  }

  /* @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  } */